{% extends 'index.html'%}
{% block content %}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for post in all_post %}

            <div class="post-preview">

                <a href="{% url 'read_post' post.id %}" class="">
                    <img src="" alt="post-img" class="img-fluid img-thumbnail" loading='lazy'>
                    <h2 class="post-title">{{post.post_title}}</h2>
                    <h3 class="post-subtitle">{{post.post | truncatewords:10}}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!" class="nav-link">.author</a>
                    on {{post.date_created}}
                </p>
            </div>

            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}






        </div>
    </div>
</div>

{% endblock %}